<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PhishDetect | Home</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/unicons.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}" >

    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" >
    
  </head>
  <body>

    <!-- MENU -->
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <a class="navbar-brand" href="index.html"><i class='uil uil-user'></i> PhishDetect</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link"><span data-hover="Home">Home</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/detect" class="nav-link"><span data-hover="Detect">Detect</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link"><span data-hover="About">About</span></a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-lg-auto">
                    <div class="ml-lg-4">
                      <div class="color-mode d-lg-flex justify-content-center align-items-center">
                        <i class="color-mode-icon"></i>
                        Color mode
                      </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    <div class="p-5 mb-4 rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold text-center">Detect Features</h1>
          <p class="col-md-8 fs-4"></p>
        </div>
      </div>
<br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <form action="{{ url_for('result') }}" method="POST">
                    <div class="input-group mb-3 container-fluid">
                        <span class="input-group-text" id="basic-addon3">Enter the URL</span>
                        <input type="text" class="form-control" id="basic-url" name="url" aria-describedby="basic-addon3">
                        <input class="btn btn btn-primary" type="submit" value="Detect">
                      </div>
                </form>            
            </div>
        </div>
    </div>
</section>

    <!-- FEATURES -->
    <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                  <h2 class="mb-4">Address Bar Based Features </h2>

                    <div class="timeline">
                        <div class="timeline-wrapper">
                             <div class="timeline-yr">
                                  <span>001</span>
                             </div>
                             <div class="timeline-info">
                                  <h3><span>Having Ip Address</span></h3>
                                  <p>If an IP address is used as an alternative of the domain name in the URL, such as “http://125.98.3.123/fake.html”, users can be sure that someone is trying to steal their personal information.</p>
                             </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>002</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Having @ Sign</span></h3>
                                <p>Using @ symbol in the URL leads the browser to ignore everything preceding the @ symbol and the real address often follows the @ symbol.</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>003</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Checking Length</h3>
                                <p>Sed fringilla vitae enim sit amet cursus. Sed cursus dictum tortor quis pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                            </div>
                        </div>
                        
                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>004</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Checking URL depth</span></h3>
                                <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>005</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Redirection</span></h3>
                                <p>The existence of “//” within the URL path means that the user will be redirected to another website. An example of such URL’s is: “http://www.legitimate.com//http://www.phishing.com”. </p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>006</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Http Domain Check</span></h3>
                                <p>This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>007</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Tiny URL</span></h3>
                                <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>008</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Prefix Suffix</span></h3>
                                <p>The existence of “//” within the URL path means that the user will be redirected to another website. An example of such URL’s is: “http://www.legitimate.com//http://www.phishing.com”. We examin the location where the “//” appears. We find that if the URL starts with “HTTP”, that means the “//” should appear in the sixth position. However, if the URL employs “HTTPS” then the “//” should appear in seventh position.</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>009</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>DNS</span></h3>
                                <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>010</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>WEB traffic Check</span></h3>
                                <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>011</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Checking Domain Age</span></h3>
                                <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>012</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Checking Domain End</span></h3>
                                <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 col-12">
                  <h2 class="mb-4 mobile-mt-2">HTML and JavaScript based Features</h2>

                    <div class="timeline">
                        <div class="timeline-wrapper">
                             <div class="timeline-yr">
                                  <span>001</span>
                             </div>
                             <div class="timeline-info">
                                  <h3><span>Check IFrame</span></h3>
                                  <p>Please tell your friends about Tooplate website. That would be very helpful. We need your support.</p>
                             </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>002</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Check Mouse-Over</span></h3>
                                <p><a rel="nofollow" href="https://www.facebook.com/tooplate">Tooplate</a> is a great website to download HTML templates without any login or email.</p>
                            </div>
                        </div>
                        
                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>003</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Checking Right Click</span></h3>
                                <p>You can freely use Tooplate's templates for your business or personal sites. You cannot redistribute this template without a permission.</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>004</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Check Link Forwarding</span></h3>
                                <p>You can freely use Tooplate's templates for your business or personal sites. You cannot redistribute this template without a permission.</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>005</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Check Links Pointing To The Page</span></h3>
                                <p>You can freely use Tooplate's templates for your business or personal sites. You cannot redistribute this template without a permission.</p>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </section>

       </div>
      </div>
    </section>

    <!-- FOOTER -->
     <footer class="footer py-5">
          <div class="container">
               <div class="row">

                    <div class="col-lg-12 col-12">                                
                       <p class="copyright-text text-center">PhishDetect </p>
                    </div>
                    
               </div>
          </div>
     </footer>

    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Headroom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jQuery.headroom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/smoothscroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

  </body>
</html>